{% extends 'index.html' %}
{% load static %}
{% block style %} {% static 'css/compose.css' %}  {% endblock %}  

{% block content %}
   <div class="container-mail">
   
   
    <form class="compose_mail" id="emailForm">
      <h2>Compose Email</h2>
      {% csrf_token %}                    
      <!-- <div class="compose">
        <input type="email" id="from" name="from" placeholder="From" required>
      </div> -->

      <div class="compose">
        <label for="from">From</label>
        <input type="text" id="from" name="from">
      </div>

      <div class="compose">
        <label for="to">To</label>
        <input type="text" id="to" name="to">
      </div>

      <div class="compose">
        <label for="to">Subject</label>
        <input type="email" id="Subject" name="Subject" >
      </div>
      
      
      <div class="compose">
        <label for="message"></label>
        <textarea name="Message">Message</textarea>
      </div>
      
      <div class="submit">
        <button type="submit">Send</button>
      </div>

     
      
      
      <div class="sent-icons-attach">
          
        <div class="compose-file">
          <!-- <label for="attachment">Attachment:</label> -->
          <input type="file" id="fileInput" name="attachment">
          
          <label for="fileInput">
            <span class="material-symbols-outlined">
                attachment
              </span>
          </label>
            
          

            <label for="fileInput">
              

                <span class="material-symbols-outlined">
                  picture_as_pdf
                  </span>
                </label>

                <label for="fileInput">
                  <span class="material-symbols-outlined">
                    image
                  </span>
                </label>
           
          </div>

        

          

      </div>
     
      
    </form>
  
  </div>
  {% endblock %}