{% extends 'index.html' %}
{% load static %}
{% block style %} {% static 'css/doc.css' %}  {% endblock %}  
   <section>
    {% block content %}
    <div class="home">
    
        <div class="file">

            <textarea name="" id="" cols="30" rows="10"></textarea>

        </div>

    
    

    <a href="">

        <div class="inbox-box">


            <div class="image-container">
                <img src="https://www.kindpng.com/picc/m/33-332806_pdf-icon-hd-png-download.png" alt="Image" height="100px" width="100px">
                <div class="image-name">
                    <h1>choose file</h1>
                   
                    

                </div>
              </div>

              <div class="img-voice">
                <img src="https://images.pexels.com/photos/6953871/pexels-photo-6953871.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Image">
              </div>
             
        </div>
    </a>

    

   

       



    <div class="inbox-box">


        <div class="image-container-pic">
          
            <div class="image-name">
                <h1>Document</h1>
               

            </div>
          </div>
    </div>

  

       




      

    </div>
    {% endblock %}
</section>