  {% extends 'index.html' %}
  {% load static %}
  
  {% block style %} {% static 'css/inbox.css' %}  {% endblock %}  

  {% block content %}
  <div class="container">
    <input type="text" id="searchInput" placeholder="Search Mail.......">
    <ul id="searchResults"></ul>
  </div>

  <section>

    <div class="home">

        <div class="inbox-box">
                <a href="./view.html">
                    
                    <div class="image-profile">
                        <img src="https://images.pexels.com/photos/3785079/pexels-photo-3785079.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                    </div>

            <div class="name">
              
                    <h1>Hari Nishan</h1>
                    <h4>Hari Nish@gmail.com</h4>
                </a>
            </div>
           
            <div class="subject">
             <!-- <div class="sub">Subject</div> -->
             <p>Congratulations on successfully completing your internship with Yugaas Tech! Your dedication and hard work have been greatly appreciated </p>
                
             
                 


            </div>

            <div class="pdf">
               
                <a href=""><span class="material-symbols-outlined">
                    picture_as_pdf
                    </span>
                </a>
                
                
              </div>

             


            <div class="subject-2">
                <div class="rec">Recieved</div>
                <!-- <div class="sub">Subject</div> -->
                <p>3:20 pm</p>
               </div>

        </div>


        <div class="inbox-box">
            <a href="./view.html">
                
                <div class="image-profile">
                    <img src="https://images.pexels.com/photos/810775/pexels-photo-810775.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                </div>

        <div class="name">
          
                <h1>Hari Nishan</h1>
                <h4>Hari Nish@gmail.com</h4>
            </a>
        </div>
       
        <div class="subject">
         <!-- <div class="sub">Subject</div> -->
         <p>Congratulations on successfully completing your internship with Yugaas Tech! Your dedication and hard work have been greatly appreciated </p>
            
         
             


        </div>

        <div class="pdf">
           
            <a href=""><span class="material-symbols-outlined">
                picture_as_pdf
                </span>
            </a>
            
          </div>

         


        <div class="subject-2">
            <div class="rec">Recieved</div>
            <!-- <div class="sub">Subject</div> -->
            <p>3:20 pm</p>
           </div>

    </div>
    

   



<div class="inbox-box">
<a href="./view.html">
    
    <div class="image-profile">
        <img src="https://images.pexels.com/photos/2589653/pexels-photo-2589653.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
    </div>

<div class="name">

    <h1>Hari Nishan</h1>
    <h4>Hari Nish@gmail.com</h4>
</a>
</div>

<div class="subject">
<!-- <div class="sub">Subject</div> -->
<p>Congratulations on successfully completing your internship with Yugaas Tech! Your dedication and hard work have been greatly appreciated </p>


 


</div>

<div class="pdf">


<a href=""><span class="material-symbols-outlined">
    picture_as_pdf
    </span>
</a>

</div>




<div class="subject-2">
<div class="rec">Recieved</div>
<!-- <div class="sub">Subject</div> -->
<p>3:20 pm</p>
</div>

</div>


<div class="inbox-box">
    <a href="./view.html">
        
        <div class="image-profile">
            <img src="https://images.pexels.com/photos/3785079/pexels-photo-3785079.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        </div>

<div class="name">
  
        <h1>Hari Nishan</h1>
        <h4>Hari Nish@gmail.com</h4>
    </a>
</div>

<div class="subject">
 <!-- <div class="sub">Subject</div> -->
 <p>Congratulations on successfully completing your internship with Yugaas Tech! Your dedication and hard work have been greatly appreciated </p>
    
 
     


</div>

<div class="pdf">
   
    <a href=""><span class="material-symbols-outlined">
        picture_as_pdf
        </span>
    </a>
    
    
  </div>

 


<div class="subject-2">
    <div class="rec">Recieved</div>
    <!-- <div class="sub">Subject</div> -->
    <p>3:20 pm</p>
   </div>

</div>


<div class="inbox-box">
<a href="./view.html">
    
    <div class="image-profile">
        <img src="https://images.pexels.com/photos/810775/pexels-photo-810775.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
    </div>

<div class="name">

    <h1>Hari Nishan</h1>
    <h4>Hari Nish@gmail.com</h4>
</a>
</div>

<div class="subject">
<!-- <div class="sub">Subject</div> -->
<p>Congratulations on successfully completing your internship with Yugaas Tech! Your dedication and hard work have been greatly appreciated </p>


 


</div>

<div class="pdf">

<a href=""><span class="material-symbols-outlined">
    picture_as_pdf
    </span>
</a>

</div>




<div class="subject-2">
<div class="rec">Recieved</div>
<!-- <div class="sub">Subject</div> -->
<p>3:20 pm</p>
</div>

</div>







      



    </div>
  
</section>
{% endblock %}
