{% extends 'index.html' %}
{% load static %}
{% block style %} {% static 'css/sent-preview.css' %}  {% endblock %}  


      <div class="card">
        {% block content %}
     
        
        <div class="pdf-doc-1">
            <h1>When sent</h1>
            <p>Thursday Sep 14, 2023 ⋅ 8pm – 9pm (India Standard Time - Kolkata)</p>
        </div>


      
        <div class="pr-3">
            <div class="rec-name-3">  Dear Hemanthkumar Welcome to YUGAAS TECH. We are happy to have you onboard as our Intern. Please find the attached Internship letter. Request you to sign</div>
        </div>
           
        
        <div class="header">
   
            <div class="pro">
               <img src="https://images.pexels.com/photos/3785079/pexels-photo-3785079.jpeg?auto=compress&cs=tinysrgb&w=600">
           </div>
       
           <div class="pro-1">
               <div class="rec-name">  Yugaas Tech
                Attachments13 Jul 2023, 16:34
                Dear Hemanthkumar Welcome to YUGAAS TECH. We are happy to have you onboard as our Intern. Please find the attached Internship letter. Request you to sign</div>
             
           </div>
              
          
       
       </div>

       <div class="header">
   
        <div class="pro">
           <img src="https://images.pexels.com/photos/810775/pexels-photo-810775.jpeg?auto=compress&cs=tinysrgb&w=600">
       </div>
   
       <div class="pro-2">
           <div class="rec-name">Hemanth kumar</div>
           <a href="">hk0600961@gmail.com</a>
           <p>accepted the offer</p>
       </div>
          
      
   
   </div>
        
        <div class="content">
          <p>Hi, As discussed, please join our Google Meet at 8 PM tomorrow."Congratulations on successfully completing your internship with Yugaas Tech! Your dedication and hard work have been greatly appreciated throughout your time here. Attached to this email is your Internship Completion Certificate, formally acknowledging your achievements. Please note that a hard copy of the certificate will be provided to you at your college at a later date. This certificate serves as a testament to your hard work and contributions, making a significant impact on our projects. We're confident that you have a bright future ahead, and we wish you continued success in your academic and professional journey. Once again, congratulations!" Congratulations on successfully completing your internship with Yugaas Tech .Your dedication and hard work during your time here have been greatly appreciated.
            We've attached your Internship Completion Certificate to this email as a formal acknowledgment of your achievements.
            Please note that a hard copy of the certificate will be provided to you at your college at a later date.
            This certificate will serve as a testament to your hard work and dedication. Your contributions to our projects have made a significant impact, and we're confident that you have a bright future ahead.
            Once again, congratulations, and we wish you continued success in your academic and professional journey.</p>
      
      
        </div>

        
      <div class="pdf">

        <div class="pdf-doc">
            <h1>One Attachment</h1>
            <p>This is a sample PDF document created using jsPDF.</p>
            <a href="">Download</a>
        </div>

      
       
      </div>
      
      <div class="notify">
        <p>  You received this message because you are subscribed to the Google Groups "Announcement list for Data Analytics with Python" group.
            To unsubscribe from this group and stop receiving emails from it, send an email to noc24-cs20-announce+unsubscribe@nptel.iitm.ac.in.
            To view this discussion on the web visit https://groups.google.com/a/nptel.iitm.ac.in/d/msgid/noc24-cs20-announce/5IAr39QaQ06xi66R9mzyQg%40geopod-ismtpd-canary-0.
            For more options, visit https://groups.google.com/a/nptel.iitm.ac.in/d/optout.</p>
      </div>
     
      <div class="final-btn">

        <div class="replay">
            <a href="">Replay</a>
            <a href="">Forward</a>
          </div>


      </div>
    
      {% endblock %}
      </div>
    