{% extends 'index.html' %}
{% load static %} 
{% block style %} {% static 'css/sent.css' %}  {% endblock %}  
         

  <!-- search box -->
  {% block content %}
  <div class="container">
    <input type="text" id="searchInput" placeholder="Search Mail.......">
    <ul id="searchResults"></ul>
  </div>
        
           <section>
         
            <div class="home">
               

            

                <div class="inbox-box-sent">
                    <a href="sent-preview.html">
                    <div class="name">
                        <span>To :</span>    
                        <h1> Deva1234@gmail.com</h1>
                    </div>
                </a>  
                    <div class="subject">
                     <!-- <div class="sub">Subject</div> -->
                     <p>Data Analytics with python equested access to your design titled "Voice Based Email System For Blinds.pptx"
                        Inbox</p>
                    </div>

                    <div class="doc-pdf">
                
                            <a href="">
                                <span class="material-symbols-outlined">
                                    picture_as_pdf
                                </span>
                            </a>
                        
                       </div>


                    <div class="subject-2">
                        <p> Sent at  3:20 pm</p>
                       </div>

                </div>


                <div class="inbox-box-sent">
                    <a href="sent-preview.html">
                    <div class="name">
                        <span>To :</span>    
                        <h1> Deva1234@gmail.com</h1>
                    </div>
                </a>  
                    <div class="subject">
                     <!-- <div class="sub">Subject</div> -->
                     <p>Data Analytics with python equested access to your design titled "Voice Based Email System For Blinds.pptx"
                        Inbox</p>
                    </div>

                    <div class="doc-pdf">
                
                            <a href="">
                                <span class="material-symbols-outlined">
                                    picture_as_pdf
                                </span>
                            </a>
                        
                       </div>


                    <div class="subject-2">
                        <p> Sent at  3:20 pm</p>
                       </div>

                </div>


                <div class="inbox-box-sent">
                    <a href="sent-preview.html">
                    <div class="name">
                        <span>To :</span>    
                        <h1> Deva1234@gmail.com</h1>
                    </div>
                </a>  
                    <div class="subject">
                     <!-- <div class="sub">Subject</div> -->
                     <p>Data Analytics with python equested access to your design titled "Voice Based Email System For Blinds.pptx"
                        Inbox</p>
                    </div>

                    <div class="doc-pdf">
                
                            <a href="">
                                <span class="material-symbols-outlined">
                                    picture_as_pdf
                                </span>
                            </a>
                        
                       </div>


                    <div class="subject-2">
                        <p> Sent at  3:20 pm</p>
                       </div>

                </div>


                <div class="inbox-box-sent">
                    <a href="sent-preview.html">
                    <div class="name">
                        <span>To :</span>    
                        <h1> Deva1234@gmail.com</h1>
                    </div>
                </a>  
                    <div class="subject">
                     <!-- <div class="sub">Subject</div> -->
                     <p>Data Analytics with python equested access to your design titled "Voice Based Email System For Blinds.pptx"
                        Inbox</p>
                    </div>

                    <div class="doc-pdf">
                
                            <a href="">
                                <span class="material-symbols-outlined">
                                    picture_as_pdf
                                </span>
                            </a>
                        
                       </div>


                    <div class="subject-2">
                        <p> Sent at  3:20 pm</p>
                       </div>

                </div>


                <div class="inbox-box-sent">
                    <a href="sent-preview.html">
                    <div class="name">
                        <span>To :</span>    
                        <h1> Deva1234@gmail.com</h1>
                    </div>
                </a>  
                    <div class="subject">
                     <!-- <div class="sub">Subject</div> -->
                     <p>Data Analytics with python equested access to your design titled "Voice Based Email System For Blinds.pptx"
                        Inbox</p>
                    </div>

                    <div class="doc-pdf">
                
                            <a href="">
                                <span class="material-symbols-outlined">
                                    picture_as_pdf
                                </span>
                            </a>
                        
                       </div>


                    <div class="subject-2">
                        <p> Sent at  3:20 pm</p>
                       </div>

                </div>


                <div class="inbox-box-sent">
                    <a href="sent-preview.html">
                    <div class="name">
                        <span>To :</span>    
                        <h1> Deva1234@gmail.com</h1>
                    </div>
                </a>  
                    <div class="subject">
                     <!-- <div class="sub">Subject</div> -->
                     <p>Data Analytics with python equested access to your design titled "Voice Based Email System For Blinds.pptx"
                        Inbox</p>
                    </div>

                    <div class="doc-pdf">
                
                            <a href="">
                                <span class="material-symbols-outlined">
                                    picture_as_pdf
                                </span>
                            </a>
                        
                       </div>


                    <div class="subject-2">
                        <p> Sent at  3:20 pm</p>
                       </div>

                </div>

                <div class="inbox-box-sent">
                    <a href="sent-preview.html">
                    <div class="name">
                        <span>To :</span>    
                        <h1> Deva1234@gmail.com</h1>
                    </div>
                </a>  
                    <div class="subject">
                     <!-- <div class="sub">Subject</div> -->
                     <p>Data Analytics with python equested access to your design titled "Voice Based Email System For Blinds.pptx"
                        Inbox</p>
                    </div>

                    <div class="doc-pdf">
                
                            <a href="">
                                <span class="material-symbols-outlined">
                                    picture_as_pdf
                                </span>
                            </a>
                        
                       </div>


                    <div class="subject-2">
                        <p> Sent at  3:20 pm</p>
                       </div>

                </div>


                <div class="inbox-box-sent">
                    <a href="sent-preview.html">
                    <div class="name">
                        <span>To :</span>    
                        <h1> Deva1234@gmail.com</h1>
                    </div>
                </a>  
                    <div class="subject">
                     <!-- <div class="sub">Subject</div> -->
                     <p>Data Analytics with python equested access to your design titled "Voice Based Email System For Blinds.pptx"
                        Inbox</p>
                    </div>

                    <div class="doc-pdf">
                
                            <a href="">
                                <span class="material-symbols-outlined">
                                    picture_as_pdf
                                </span>
                            </a>
                        
                       </div>


                    <div class="subject-2">
                        <p> Sent at  3:20 pm</p>
                       </div>

                </div>


              

                





               




              

            </div>

         
        </section>

        
        {% endblock %}
     