{% extends 'index.html' %}
{% load static %}

{% block style %} {% static 'css/voice.css' %}  {% endblock %}  

{% block content %}
 <section>
    
    <div class="voice_rec">
     
        <div class="rec-flex">

            <div class="rec_image" >
                <img src="https://images.pexels.com/photos/6954192/pexels-photo-6954192.jpeg" height="100px" width="100px" />
            </div>

            <div class="rec-slide-btn">


                <div class="rec-p">
                    <h1>Upload your<span> voice</span></h1>
                </div>
    
        
               
                    <div class="record-btns">
                       
                        <div class="rec-btn">
                            <a href="">Upload</a>
                            <a href="">Record</a>
                            <a href="">Pause</a>
                        </div>
                        <div class="save">
                            <a href="">Save</a>
                        </div>
                   
                    </div>

                    <div class="rec-p">
                        
                        <p>Seamlessly interact: Utilize voice uploads to seamlessly interact with the system, enabling intuitive communication.</p>
                        <p>Convenient email sending: Send emails effortlessly by using the voice upload feature, streamlining the process.</p>
                        <p>Provide valuable suggestions: Share your suggestions conveniently through voice uploads, ensuring efficient communication of ideas.</p>
                        <p>Customize experience: Personalize your experience by selecting your favorite actor's voice, adding a unique touch to interactions.</p>
                        <p>Enhance accessibility: Improve accessibility for users by incorporating voice upload functionality, catering to diverse needs.</p>
                    </div>
              
            </div>
    </div>
           

    <!-- other-voices -->

    <div class="box-other-voice">
        
         <div class="container">
              <input type="text" id="searchInput" placeholder="Search Mail.......">
              <ul id="searchResults"></ul>
         </div>
       
         <div class="voice-box">

            <div class="act-img">
                <h1>Robot</h1>
                <img src="https://images.pexels.com/photos/7513990/pexels-photo-7513990.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            </div>

           
            <p>Vijay, often referred to as Thalapathy Vijay, is a prominent Indian actor who predominantly works in the Tamil film industry.</p>
          

                <div class="upload">
                    <a href="">change voice</a>
                    <a href="">play voice</a>
                
                </div>

         </div>

         <div class="voice-box">

            <div class="act-img">
                <h1>Women Ai</h1>
                <img src="https://images.pexels.com/photos/1542085/pexels-photo-1542085.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            </div>

           
            <p>Vijay, often referred to as Thalapathy Vijay, is a prominent Indian actor who predominantly works in the Tamil film industry.</p>
          

                <div class="upload">
                    <a href="">change voice</a>
                    <a href="">play voice</a>
                
                </div>

         </div>



         <div class="voice-box">

            <div class="act-img">
                <h1>Vijay</h1>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSYm8oZ5XRBzBs73RC4QsUbYSIEjL5laGB5A&usqp=CAU" alt="">
            </div>

           
            <p>Vijay, often referred to as Thalapathy Vijay, is a prominent Indian actor who predominantly works in the Tamil film industry.</p>
          

                <div class="upload">
                    <a href="">change voice</a>
                    <a href="">play voice</a>
                
                </div>

         </div>

  
    </div>
       
 
    </div>
</section>

{% endblock %}