
 
   .home{
     padding: 0px 20px;
   }
 
   .home .inbox-box {
     margin: 10px 0px;
     display: flex;
     flex-wrap: nowrap;
     padding: 10px 20px;
     border-radius: 2px;
 
   }
 
   .home .inbox-box:hover{
     /* border: 1px solid rgba(0, 0, 0, 0.329); */
     background-color: rgba(0, 0, 0, 0.356);
   }
 
   .home .inbox-box .name h1{
     font-size:20px;
    font-weight:400;
    color: #000000;
  
   }
 
   
   .home .inbox-box .name h4{
     padding: 5px 0px;
     color: #000000;
     font-size: 12px;
    font-weight:600;
  
   }
 
   .home .inbox-box .subject {
    padding: 0px 30px;
    }
 /* 
    .home .inbox-box .subject .sub{
      font-size: 18px;
      font-weight: 700;
     } */
   
   .home .inbox-box .subject p{
    padding: 15px 0px;
    font-size: 12px;
    font-weight: 900;
 
   }
 
 
 
   .home .inbox-box .subject-2 {
     padding: 0px 30px;
     }
  
    
    .home .inbox-box .subject-2 p{
     color:rgb(0, 0, 0);
     padding: 15px 0px;
     font-size: 12px;
     font-weight: 900;
  
    }
  
/* mail  */
  .container-mail {
    max-width:150vh;
    border-radius: 10px;
    margin: 0px 30px;
  

  }

  .compose_mail{
    background-color: #fff;
  }

  .compose_mail h2{
   text-align: center;
   padding: 10px 0px;
   font-size: 25px;
   font-weight: bolder;
  }
.compose label{
  font-size: 18px;
  font-weight: 500;
  color: #000000d7;
}

.compose textarea{
  font-size: 18px;
  font-weight: 500;
  color: #000000d7;
}

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    margin: 10px 0;
    border: none;
    outline: none;
    font-size: 20px;
   font-weight: 500;
    box-sizing: border-box;
    /* background-color: #007bff; */
   
  }




  textarea {
  line-height: 10vh;
  outline: none;
   
  }


  input[type="file"] {
    margin-top: 10px;
    outline: none;

  }

  .submit {
    position: relative;
    top:60px;
    left: 10px;
    padding: 20px 0px;
    font-size: 30px;
  }
 .submit  button {
   
    padding: 10px 20px;
    background-color: #000000c5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 .submit button:hover {
    background-color: #000000;
  }

  .sent-icons-attach {
    display: inline-block;
    display:flex;
    justify-content:end;
    align-items: end;
  }

  .sent-icons-attach .compose-file label{
    display: inline-block;
    margin: 0px 5px;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
  }

   .compose-file label img{
    cursor: pointer;
  }


.compose-file input{
 display:none;
}